.good{
    color :green ;
    text-transform: capitalize;
}
.bad{
    color: red;
    text-transform: capitalize;
}
link {
    display: none;
  }
body {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	color: navy;
    width: 90%;
    margin: 8%;
    background: linear-gradient(#C9D7E4, #1C4268);
    background-image: url("https://st.depositphotos.com/1003593/1930/i/600/depositphotos_19300633-stock-photo-from-point-a-to-point.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right 0% bottom 0%;
    background-size: cover;
    line-height: 30px;
}
a{
    font-size: 20px;
}
a:hover{
    color: paleturquoise;
}
a:visited{
    color:springgreen;
}
blockquote {
    display:inline-block;
    margin-block-start: 1px;
    margin-block-end: 1px;
    margin-inline-start: 1px;
    margin-inline-end: 40px;
}
blockquote p {
    padding: 30px;
    background:#D3D3D3;
    border-radius: 30px;
    margin: 80px;
    margin-bottom: 80px;
    margin-left: 50px;
    font-size: 32px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}
figcaption {
    margin-left: 350px;
}
.village{
    border-style: ridge;
    border-left-color: lightcoral;
}
.fermier{
    border-style: ridge;
    border-left-color: lightseagreen;
}
.titre{
    background-color: yellow;
    background-size: 3px;
}
table, th, td{
    border-style: ridge;
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}
tr:nth-child(odd){
    background-color: grey;
}
tr:nth-child(even) {
    background-color:white;
}
#conteneur{
    display: flex;
}
.photo{
    width: 700px;
    height:500px;
}