.good{
    color :green ;
}
.bad{
    color: red;
}
link {
    display: none;
  }
body {
	font-size: 15px;
	font-family: Arial, sans-serif;
	color: navy;
    width: 90%;
    margin: 18%;
    background: linear-gradient(#C9D7E4, #1C4268);
    background-image: url("https://previews.123rf.com/images/derocz/derocz1102/derocz110200026/8756216-ferme-illustration-de-dessin-anim%C3%A9-noir-et-blanc-vecteur.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right 0% bottom 0%;
}
a{
    font-size: 20px;
}
a:hover{
    color: paleturquoise;
}
a:visited{
    color:springgreen;
}
blockquote {
    display:inline-block;
    margin-block-start: 1px;
    margin-block-end: 1px;
    margin-inline-start: 1px;
    margin-inline-end: 40px;
}
blockquote p {
    padding: 30px;
    background:#D3D3D3;
    border-radius: 30px;
    margin: 80px;
    margin-bottom: 80px;
    margin-left: 50px;
    font-size: 32px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}
figcaption {
    margin-left: 350px;
}
.village{

}
.fermier{
    
}
